* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "CursorGothic";
}

body {
  background-color: #14120b;
}

html,
body {
  height: 100%;
  width: 100%;
}
.container {
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 24px;
}

@font-face {
  font-family: "CursorGothic";
  src: url(https://cursor.com/marketing-static/_next/static/media/CursorGothic_Regular-s.p.a361088d.woff2)
    format("woff2");
}

/* .nav-bar {
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #14120b;
  padding: 0 24px;
  color: #edecec;
} */


/* FIXED NAVBAR */
.nav-bar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 52px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  background-color: rgb(20, 18, 11);
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  color: #edecec;
  z-index: 999;
}

.nav-center li {
  list-style: none;
  display: inline-block;
  margin: 0 16px;
  color: #edecec;
  cursor: pointer;
}

.cursor-logo {
  display: flex;
  align-items: center;
  gap: 3px;
}

.logo-icon {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.logo-text {
  width: 65px;
  height: 18px;
  object-fit: contain;
}

.nav-center {
  list-style: none;
  display: flex;
  gap: 32px;
  font-size: 14px;
  color: #edecec;
}

.nav-bar li {
  cursor: pointer;
}

.nav-bar li:hover {
  color: #fff;
}

.nav-right {
  display: flex;
  gap: 12px;
}

.btn-signin {
  background: transparent;
  color: #edecec;
  font-size: 14px;
  cursor: pointer;
  border: 1px solid #edecec33;
  border-radius: 20px;
  padding: 5.6px 10.5px 3.8px;
}

.btn-signin:hover {
  color: #fff;
}
.btn-download {
  background-color: #edecec;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 99px;
  padding: 5px 12px;
}

.btn-download:hover {
  background-color: #e5e5e5;
}

.hero {
  background-color: #14120b;
  display: flex;
  align-items: center;
  /* text-align: left; */
  padding: 112px 20px 67.2px;
}

.hero-inner {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  font-size: 26px;
  line-height: 1.25;
  font-weight: 500;
  color: #fff;
  margin-bottom: 22.5px;
}

.btn-primary {
  background-color: #fff;
  color: #000;
  border: none;
  padding: 12.48px 21.6px 12.8px;
  border-radius: 99px;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
}

.editor-section {
  position: relative;
  padding: 10px 0;
  width: 96%;
  overflow: hidden;
}

.bg-img img {
  height: 100%;
  width: 100%;
  border-radius: 4px;
}

.editor-box {
  position: absolute;
  width: 83%;
  transform-origin: center center;
  margin: auto;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.editor-box img {
  width: 100%;
  border-radius: 12px;
}

.trusted-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 20px;
  flex-direction: column;
}

.trusted-heading {
  font-size: 13.2px;
  margin-bottom: 30px;
  color: #d6d6d6;
  font-weight: 400;
  letter-spacing: 0.131px;
}
.trusted-img {
  width: 100%;
  height: auto;
  opacity: 0.9;
}

.overview {
  padding: 67.2px 0 67.2px;
}

.agent-section {
  height: 715px;
  width: 96%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16.4px;
  background-color: #1b1913;
  gap: 40px;
  border-radius: 4px;
  margin-bottom: 90px;
  /* padding: 10px 0; */

  overflow: hidden;
}

.agent-img img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.agent-text {
  max-width: 360px;
  padding-left: 6.5px;
}

.agent-text h3 {
  color: #edecec;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.3;
}

.agent-text p {
  font-size: 22px;
  color: #b5b5b5;
  line-height: 1.2;
  margin-bottom: 20px;
  opacity: 55%;
}

.agent-text a {
  color: #f54e00;
  text-decoration: none;
  font-weight: 500;
}

.tab-section {
  height: 715px;
  width: 96%;
  display: flex;
  justify-content: space-between;
  background-color: #1b1913;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  gap: 40px;
  margin-bottom: 90px;
}

.tab-text {
  max-width: 360px;
  padding: 6.5px;
}

.tab-text h3 {
  color: #edecec;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.3;
}

.tab-text p {
  font-size: 22px;
  color: #b5b5b5;
  line-height: 1.2;
  margin-bottom: 20px;
  opacity: 55%;
}

.tab-text a {
  color: #f54e00;
  text-decoration: none;
  font-weight: 500;
}

.tab-img img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}

.surface-section {
  height: 715px;
  width: 96%;
  display: flex;
  justify-content: space-between;
  background-color: #1b1913;
  align-items: center;
  padding: 20px;
  border-radius: 4px;
  gap: 40px;
  margin-bottom: 90px;
}

.surface-text {
  max-width: 360px;
  padding: 6.5px;
}

.surface-text h3 {
  color: #edecec;
  font-size: 22px;
  font-weight: 400;
  margin-bottom: 10px;
  line-height: 1.3;
}

.surface-text p {
  font-size: 22px;
  color: #b5b5b5;
  line-height: 1.2;
  margin-bottom: 20px;
  opacity: 55%;
}

.surface-text a {
  color: #f54e00;
  text-decoration: none;
  font-weight: 500;
}

.surface-img img {
  width: 100%;
  height: 100%;
  border-radius: 7px;
}


.testimonial-section{
  margin-bottom: 180px;
}
.testimonial-section h2 {
  text-align: center;
  color: #edecec;
  font-weight: 200;
  font-size: 36px;
}

.testimonial-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin: 50px auto;
  max-width: 1300px;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 30px;
  background-color: #1b1913;
  padding: 15.9px 17.5px 17.5px;
  border: 1px solid rgba(255, 255, 255, 0.025);
  border-radius:4px;
  min-height: 250px;
}

.card-description {
  font-size: 16px;
  color: #edecec;
  line-height: 1.6;
  margin-bottom: 18px;
}

.user-profile {
  display: flex;
  gap: 15px;
  margin-top: auto;
  align-items: center;
}


.user-img {
  width: 48px;
  height: 48px;
  border-radius: 8px;
  object-fit: cover;
}

.user-info {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  font-size: 15px;
  color: #f6f0ea;
}

.user-role {
  font-size: 13px;
  color: #a79d94;
  margin-top: 2px;
}


.usecases-section {
  margin-top: 60px;
}

.usecases-title {
  text-align: left;
  color: #edecec;
  font-size: 26px;
  font-weight: 300;
  margin-bottom: 40px;

}

.usecases {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}


.case {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: #1b1814;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  padding: 16px;
}

.case h3 {
  color: #ffffff;
  font-size: inherit;
  font-weight: inherit;
}

.case p {
  font-size: 16px;
  color: #99968f;
  line-height: 1.5;
}

.case-link {
  color: #f54e00;
  text-decoration: none;
  font-weight: 500;
}

.case-img {
  margin-top: 16px;
}

.case-img img {
  width: 100%;
  border-radius: 4px;
  margin-top: 16px;
  
}




.changelog-section {
  max-width: 1300px;
  margin: 80px auto;
  padding: 0 20px;
}


.changelog-title {
  font-size: 26px;
  font-weight: 300;
  color: #ffffff;
  margin-bottom: 35px;
}

.changelog-cards {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 10px;
  margin-bottom: 40px;
}

.changelog-card {
  background: #1b1814;
  border-radius: 6px;
  padding: 22px 26px 28px;
  border: 1px solid rgba(255, 255, 255, 0.06);
  display: flex;
  flex-direction: column;
}

.card-header {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 18px;
}


.version-badge {
  padding: 4px 12px;
  border-radius: 50px;
  border: 1px solid rgba(255, 255, 255, 0.25);
  color: #ffffff;
  font-size: 14px;
  font-weight: 500;
}

.date {
  color: #b4ada7;
  font-size: 15px;
}

.card-title {
  color: #ffffff;
  font-size: 16px;
  line-height: 1.45;
  font-weight: 400;
}


.changelog-link {
  display: inline-block;
  margin-top: 10px;
  color: #f54e00;
  font-size: 18px;
  text-decoration: none;
  font-weight: 400;
}



.cta-section {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 120px 0;
}

.cta-inner {
  width: 96%;
  background: #1b1814;
  border-radius: 8px;
  padding: 30px;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  height: 620px; /* matches screenshot */
}

.cta-text {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.cta-text p {
  font-size: 22px;
  color: #ffffff;
  line-height: 1.45;
  margin-bottom: 24px;
  font-weight: 400;
}

.cta-link {
  font-size: 18px;
  color: #ff6a1a;
  text-decoration: none;
  display: inline-flex;
  align-items: center;
  gap: 8px;
  font-weight: 500;
}

.cta-img {
  width: 90%;
  height: 100%;
  border-radius: 6px;
  overflow: hidden;
}

.cta-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}



.highlights {
  width: 100%;
  max-width: 1300px;
  margin: 120px auto;
  padding: 89.6px 20px;
  display: grid;
  background: #1b1814;
  grid-template-columns: 1fr 2fr 1fr;
}

.hl-label {
  margin-top: 15px;
  font-size: 20px;
  font-weight: 500;
  color: #d6d1cb;
}

.highlights-right {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

.h1-image-wrapper {
  width: 100%;
  border-radius: 12px;
  overflow: hidden;
  border: 1px solid rgba(255,255,255,0.06);
  background: #1b1814;
}

.hl-image-wrapper img {
  width: 100%;
  overflow: hidden;
  border-radius: 12px;
}

.hl-link {
  font-size: 17px;
  color: #ff6a1a;
  text-decoration: none;
  font-weight: 500;
}

.final-cta{
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 90px;
  gap: 10px;
}

.final-cta h1{
  font-size: 72px;
  color: #edecec;
  font-weight: inherit;
}

.final-cta button{
  background-color: #edecec;
  color: #000;
  font-size: 14px;
  font-weight: 500;
  cursor: pointer;
  border: none;
  border-radius: 99px;
  padding: 12.48px 21.6px 12.80px;
}

.btn-download:hover {
  background-color: #e5e5e5;
}




.footer {
  width: 100%;
  background: #1b1814;
  padding: 70px 0 60px;
  color: #d7d3cc;
  font-family: Arial, sans-serif;
}

.footer-columns {
  max-width: 1300px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 70px;
  padding: 0 20px;
}

.footer-col h4 {
  font-size: 17px;
  color: #edecec70;
  margin-bottom: 8px;
  font-weight: 500;
}

.footer-col a {
  display: block;
  margin-bottom: 12px;
  font-size: 16px;
  color: #ffffff;
  text-decoration: none;
  transition: 0.2s;
}

.footer-col a:hover {
  color: #ff6a1a;
}

.footer-bottom {
  max-width: 1300px;
  margin: 50px auto 0;
  padding: 0 20px;
  display: flex;
  gap: 30px;
  align-items: center;
  font-size: 15px;
  color: #b3ada6;
}
