body{
    background-color: #1d1d1d;
}
    nav{
        background-color: #d5d5d5;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: 20px auto;
    }
